button, select {
    min-width: 30px;
    height: 30px;
}

input[type='search'], select {
    height: 30px;
    border: 1px solid #bbb;
    border-radius: 3px;
    box-shadow: inset 1px 1px 1px #eee;
}

.menu-button {
    display: block;
    width: 260px;
    line-height: 30px;
    height: 30px;
    padding: 0;
    margin: 30px 0 0 0;
    border: 1px solid #bbb;
    border-radius: 3px;
    box-shadow: 2px 2px 3px #eee;
    background: #eee;
    cursor: pointer;
}

.menu-button:hover {
    border: 1px solid #bbb;
    box-shadow: 3px 3px 5px #ddd;
}

#tabulator-table {
    font-family: "Courier New", monospace;
    margin: 30px 0 0 0;
    width: 600px;
    border: 1px solid #bbb;
    border-radius: 3px;
    box-shadow: 3px 3px 5px #ddd;
    overflow: hidden;
}

.tabulator-col:last-child,
.tabulator-cell:last-child {
    border-right: none !important;
}